.about {
  padding: 8rem 20rem;
  background-color: $background-secondary;

  @include respond(tab-land) {
    padding: 4rem 10rem;
  }

  @include respond(phone) {
    padding: 2rem 3rem;
  }

  &__content {
    padding-top: 4rem;
  }

  &__main-text {
    text-align: justify;
  }

  &__header {
    margin: 3rem 0;
    color: $color-pink;
    font-size: 1.8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__text {
    line-height: 2;
    text-align: justify;

    @include respond(phone) {
      font-size: 1.9rem;
    }
  }
}
