.accomplishments {
  padding: 8rem 0;

  &__content {
    display: flex;
    justify-content: center;
  }

  &__certification {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  &__cert-name {
    margin: 2.5rem 0 0 0;
    color: $color-pink;
    font-size: 2.5rem;
  }

  &__cert-organization {
    margin: 1rem 0 0 0;
    font-size: 1.6rem;
  }

  &__image {
    width: 100%;
    padding: 0 3rem;
    margin: 3rem 0 0 0;
  }

  &__link {
    align-self: center;
  }
}
