.accomplishments {
  padding: 8rem 0;
  background-color: $background-secondary;

  &__content {
    display: flex;
    justify-content: center;
  }

  &__certification {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__cert-name {
    margin: 2.5rem 0 0 0;
    color: $color-pink;
    font-size: 2.3rem;
  }

  &__cert-organization {
    margin: 1rem 0 0 0;
    font-size: 1.6rem;
  }

  &__image {
    width: 80%;
    margin: 3rem 0 0 0;
    align-self: center;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2;
  }

  &__link {
    align-self: center;
  }
}
