.navigation {
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0px;
  left: 0px;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  &__logo-box {
    display: flex;
    padding: 3rem 3.5rem;
    // width: 30%;
  }

  &__nav {
    padding: 2rem 2.5rem;
  }

  &__logo-text {
    margin: auto 0;
    font-size: 3.6rem;
    font-family: "Audiowide", cursive;
    color: $color-pink;
    animation: neonFlashGlow 3s infinite cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      padding: 1rem 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-aqua;
      font-weight: bolder;
      transition: all 400ms;
    }

    &:hover,
    &:active {
      transform: scale(1.1);
      animation: neonFlashGlow 2s infinite;
    }
  }
}

// This animation is trying to recreate a neon sign flashing
@keyframes neonFlashGlow {
  0%,
  12% {
    @include neonGlow($color-pink);
  }
  15% {
    @include offGlow($color-pink);
  }
  17% {
    @include neonGlow($color-pink);
  }
  19% {
    @include offGlow($color-pink);
  }
  20%,
  80% {
    @include neonGlow($color-pink);
  }
  81% {
    @include offGlow($color-pink);
  }
  85%,
  100% {
    @include neonGlow($color-pink);
  }
}
