.navigation {
  background: #04000667;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__logo-box {
    display: flex;
    padding: 1rem 2rem;
  }

  &__logo-text {
    margin: auto 0;
    font-size: $l-size;
    font-family: 'Audiowide', cursive;
    color: $color-pink;
    animation: logoNeonFlash 3s infinite;
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      padding: 1rem 2rem;
      color: $color-pink;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.4s infinite;
      font-weight: 600;
    }

    &:hover,
    &:active {
      color: $color-aqua;
    }
  }
}

@keyframes logoNeonFlash {
  0%,
  12% {
    @include neonGlow($color-pink);
  }
  15% {
    @include offGlow($color-pink)
  }
  17% {
    @include neonGlow($color-pink);
  }
  19% {
    @include offGlow($color-pink)
  }
  20%,
  80% {
    @include neonGlow($color-pink);
  }
  81% {
    @include offGlow($color-pink)
  }
  85%,
  100% {
    @include neonGlow($color-pink);
  }
}
