.btn {
  &:link,
  &:visited {
    font-family: "Audiowide", cursive;
    font-size: 1.9rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    color: $color-black;
    background-color: $color-yellow;
    border-radius: 4px;
    margin: auto;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    transition: all 0.2s;
  }

  &:hover {
    margin-bottom: 1px solid $color-black;
    transform: translateY(-0.5rem) scale(1.05);
  }

  &:active {
    transform: translateY(0rem) scale(1);
  }
}
