.btn {
  &:link,
  &:visited {
    font-family: "Audiowide", cursive;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    transition: all 0.2s;
  }

  &__primary {
    &:link,
    &:visited {
      border-radius: 3px;
      font-size: 1.9rem;
      padding: 1.5rem 4rem;
      color: $color-black;
      background-color: $color-yellow;
    }
  }

  &:hover {
    margin-bottom: 1px solid $color-black;
    transform: translateY(-0.5rem) scale(1.05);
  }

  &:active {
    transform: translateY(0rem) scale(1);
  }

  &__secondary {
    &:link,
    &:visited {
      border-radius: 3px;
      font-size: 1.3rem;
      padding: 1.5rem 3.5rem;
      color: $color-aqua;
      background-color: $off-black;
      border: 0.5px solid rgba($color-aqua, 0.3);
      margin: 0.6rem;
    }
  }

  &__tertiary {
    &:link,
    &:visited {
      border-radius: 3px;
      font-size: 1.3rem;
      padding: 1.5rem 3.5rem;
      color: $off-black;
      background-color: $color-aqua;
      border: 0.5px solid $off-black;
      margin: 0.6rem;
    }
  }
}
