*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Jura', sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: $m-size;
  background-color: $color-purple;
  position: relative;
  color: $color-aqua;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}