
html {
  font-size: 62.5%;
}

body {
  font-family: 'Jura', sans-serif, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: $m-size;
  background-color: $color-purple;
  position: relative;
  color: $color-aqua;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}