// Colors
$color-black: #000;
$color-white: #ddd;
$off-black: #20222b;
$off-white: #a5afd7;

$color-yellow: #fdee06;

$color-purple-light: #410053;
$color-purple: #270032;
$color-purple-dark: #040006;
$color-purple-bright: #580071;

$color-aqua-light: #2bf3fc;
$color-aqua: #00f0ff;
$color-aqua-dark: #00a4ac;
$color-aqua-extra-dark: #007b81;

$color-pink-light: #fe60e0;
$color-pink: #ff00cc;
$color-pink-dark: #cb00a4;
$color-pink-bright: #ff31d8;

// Original Colors
// $background-primary: #222;
// $background-secondary: #1d1d1d;

// background-color: darken($color-purple, 3%);

// Test Colors
$background-primary: #222;
$background-secondary: #1d1d1d;

// Spacing
$s-size: 1.2rem;
$m-size: 1.7rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Media
$desktop-breakpoint: 45rem;
