// Colors
$color-black: #000;
$color-white: #fff;
$off-black: #20222b;
$off-white: #a5afd7;

$color-purple-light: #410053;
$color-purple: #270032;
$color-purple-dark: #040006;
$color-purple-bright: #580071;

$color-aqua-light: #2BF3FC;
$color-aqua: #00f0ff;
$color-aqua-dark: #00A4AC;
$color-aqua-extra-dark: #007B81;

$color-pink-light: #FE60E0;
$color-pink: #ff00cc;
$color-pink-dark: #CB00A4;
$color-pink-bright: #FF31D8;

// Spacing
$s-size: 1.2rem;
$m-size: 1.7rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Media
$desktop-breakpoint: 45rem;