.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5rem;
  line-height: 6rem;

  @include respond(phone) {
    letter-spacing: 0.2rem;
  }

  &--main {
    display: block;
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
    @include respond(phone) {
      font-size: 5rem;
    }
    @include respond(mini-phone) {
      margin: 0 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
  }
}

.sections__title {
  margin: 0px;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700rem;
  color: $color-white;
  font-family: "Inconsolata", monospace;
  text-align: center;
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);

  @include respond(mini-phone) {
    font-size: 5rem;
    letter-spacing: 0.4rem;
  }
}

.sections__description {
  margin: 1.5rem 0px;
  font-size: 1.8rem;
  color: $color-white;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  text-align: center;
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);

  @include respond(mini-phone) {
    font-size: 1.6rem;
  }
}

// Font Awesome Icons
.neon-icon {
  font-size: 7rem;
  padding: 0px 2rem;
  grid-row: 2 / 3;
  align-self: center;
  margin: auto;
  animation: neonFlashGlow 1.5s infinite;
}

@keyframes titleFlashGlow {
  0%,
  12% {
    @include neonGlow($color-yellow);
  }
  15% {
    @include offGlow($color-yellow);
  }
  17% {
    @include neonGlow($color-yellow);
  }
  19% {
    @include offGlow($color-yellow);
  }
  20%,
  80% {
    @include neonGlow($color-yellow);
  }
  81% {
    @include offGlow($color-yellow);
  }
  85%,
  100% {
    @include neonGlow($color-yellow);
  }
}

@keyframes neonFlashGlow {
  0%,
  12% {
    @include neonGlow($color-pink);
  }
  15% {
    @include offGlow($color-pink);
  }
  17% {
    @include neonGlow($color-pink);
  }
  19% {
    @include offGlow($color-pink);
  }
  20%,
  80% {
    @include neonGlow($color-pink);
  }
  81% {
    @include offGlow($color-pink);
  }
  85%,
  100% {
    @include neonGlow($color-pink);
  }
}
